{% extends "layout.html" %}
{% block content%}
    <div class="container-fluid mt-5 card pt-4 pb-2" style="width:467px;">
        <form method="POST" enctype="multipart/form-data">
            <label>Username:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-user"></i></span></div>
                <input type="text" class="form-control" name="username" placeholder="Enter username" required> <!-- validation -->
            </div>
            <label>Password:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div>
                <input type="password" class="form-control" name="password" placeholder="Enter password" required> <!-- validation -->
            </div>
            <button type="submit" class="btn btn-primary mb-3"><i class="fas fa-sign-in-alt"></i>  Login</button>
        </form>
    </div>
    {% endblock %}
