{% extends "layout.html" %}
{% block content%}
    <div class="container-fluid w-75 mt-5 card pt-4 pb-2">
        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="ResourceId" value="{{resource.ResourceId}}" />

            <!-- form -->
            <label>Resource Type:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-arrow-down"></i></span></div>
                <select class="custom-select" name="ResourceType" required>
                    <option selected value="">Open this select menu</option>
                    {% for resourcetype in resourcetypes %}
                    <option value="{{resourcetype.ResourceTypeId}}">{{resourcetype.ResourceTypeName}}</option>
                    {% endfor %}
                </select>
            </div>
            <label>Brand:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-copyright"></i></span></div>
                <input type="hidden" name="id" value="{{resource.ResourceId}}">
                <input type="text" class="form-control" name="Brand" value="{{resource.Brand}}" required minlength="2"> <!-- validation -->
            </div>
            <label>Model:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-signature"></i></span></div>
                <input type="text" class="form-control" name="Model" value="{{resource.Model}}" required minlength="2">  <!-- validation -->
            </div>
            <label>Purchase Date:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-calendar-alt"></i></span></div>
                <input type="date" class="form-control" name="Purchase" value="{{resource.PurchaseDate}}" required>  <!-- validation -->
            </div>
            <label>Condition:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-thumbs-up"></i></span></div>
                <input type="text" class="form-control" name="Condition" value="{{resource.Condition}}" required minlength="2">  <!-- validation -->
            </div>
            <label>Picture:</label>
            <div class="form-group input-group">
                <!-- form for image -->
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-image"></i></span></div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="Picture" accept="image/*" capture>
                    <label class="custom-file-label" for="customFile">{{resource.Image}}</label>
                </div>
            </div>
            <label>Original Price:</label>
            <div class="form-group input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-dollar-sign"></i></span></div>
                <input type="number" class="form-control" name="Price" value="{{resource.OriginalPrice}}" min="0" required> <!-- validation -->
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i>  Update</button>
        </form>
    </div>
        {% endblock %}
